{% extends 'base1.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="auth-main v1">
    <div class="auth-wrapper">
        <div class="auth-form">
            <div class="card my-5">
                <div class="card-body">
                    <div class="text-center">
                        {# <img src="{{ asset('images/authentication/img-auth-login.png') }}" alt="images" class="img-fluid mb-3" /> #}
                        <h4 class="f-w-500 mb-5 p-3">Se connecter</h4>
                        {# <p class="mb-3">Vous êtes déjà inscrit ? <a href="{{path('app_login')}}" class="link-primary ms-1">Connectez-vous !</a></p> #}
                    </div>
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% endif %}
                        <div class="mb-5"> 
                            <div class="row mb-0">
                                <label for="username" class="col-form-label col-md-3 col-sm-12 text-md-end">
                                    Email <span class="error"> * </span>
                                </label>
                                <div class="col-md-9 col-sm-12">
                                    <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                                    <span class="span error"> Obligatoire </span>
                                </div>
                            </div>
                        </div>
                        <div class="mb-5"> 
                            <div class="row mb-0">
                                <label for="password" class="col-form-label col-md-3 col-sm-12 text-md-end">
                                    Email <span class="error"> * </span>
                                </label>
                                <div class="col-md-9 col-sm-12">
                                    <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                                    <span class="span error"> Obligatoire </span>
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                </div>
                            </div>
                        </div>
                        
                        <div class="d-grid mt-4 mb-5">
                            <button class="btn btn-lg btn-primary" type="submit">
                                Connexion
                            </button>
                         </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
