{% extends 'base1.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %} 

    <div class="auth-main v1">
    <div class="auth-wrapper">
        <div class="auth-form">
            <div class="card my-5">
                <div class="card-body">
                    <div class="text-center">
                        {# <img src="{{ asset('images/authentication/img-auth-login.png') }}" alt="images" class="img-fluid mb-3" /> #}
                        <h4 class="f-w-500 mb-5 p-3">Inscription</h4>
                        {# <p class="mb-3">Vous êtes déjà inscrit ? <a href="{{path('app_login')}}" class="link-primary ms-1">Connectez-vous !</a></p> #}
                    </div>
                    {{ form_errors(registrationForm) }}

                    {{ form_start(registrationForm) }}
                    <div class="mb-5"> 
                        <div class="row mb-0">
                            <label class="col-form-label col-md-3 col-sm-12 text-md-end">
                                Votre profil <span class="error"> * </span>
                            </label>
                            <div class="col-md-9 col-sm-12">
                                {{ form_row(registrationForm.profile) }}
                                <span class="span error"> Obligatoire </span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-5"> 
                        <div class="row mb-0">
                            <label class="col-form-label col-md-3 col-sm-12 text-md-end">
                                Prénom <span class="error"> * </span>
                            </label>
                            <div class="col-md-9 col-sm-12">
                                {{ form_row(registrationForm.firstname) }}
                                <span class="span error"> Obligatoire </span>
                            </div>
                        </div>
                        
                    </div>
                    <div class="mb-5"> 
                        <div class="row mb-0">
                            <label class="col-form-label col-md-3 col-sm-12 text-md-end">
                                Nom <span class="error"> * </span>
                            </label>
                            <div class="col-md-9 col-sm-12">
                                {{ form_row(registrationForm.lastname) }}
                                <span class="span error"> Obligatoire </span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-5"> 
                        <div class="row mb-0">
                            <label class="col-form-label col-md-3 col-sm-12 text-md-end">
                                Date de naissance <span class="error"> * </span>
                            </label>
                            <div class="col-md-9 col-sm-12">
                               {{ form_row(registrationForm.birth) }}
                               <span class="span error"> Obligatoire </span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-5"> 
                        <div class="row mb-0">
                            <label class="col-form-label col-md-3 col-sm-12 text-md-end">
                                Email <span class="error"> * </span>
                            </label>
                            <div class="col-md-9 col-sm-12">
                               {{ form_row(registrationForm.email) }}
                               <span class="span error"> Obligatoire </span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-5">
                        <div class="row mb-0">
                            <label class="col-form-label col-md-3 col-sm-12 text-md-end">
                               Mot de passe <span class="error"> * </span>
                            </label>
                            <div class="col-md-9 col-sm-12">
                               {{ form_row(registrationForm.plainPassword) }}
                               <span class="span error"> Obligatoire </span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-5 form-check">
                        <div class="row mb-0">
                            <div class="col-md-3 col-sm-12">
                              {{ form_row(registrationForm.agreeTerms) }}
                            </div>
                            <label class="form-check-label col-md-9 col-sm-12 text-muted p-0">
                                J'accepte que mes données soient traitées conformément à la <a href="https://www.forest-hill.fr/pages/rgpd">politique de confidentialité</a>. <span class="error"> * </span>
                            </label>
                        </div>
                    </div>
                    <div class="mb-5">
                        <div class="row mb-0">
                            <label class="col-form-label col-md-3 col-sm-12 text-md-end">
                                Captcha <span class="error"> * </span>
                            </label>
                            <div class="col-md-9 col-sm-12">
                               {{ form_row(registrationForm.captcha) }}
                               <span class="span error"> Obligatoire </span>
                            </div>
                        </div>
                    </div>
                    <div class="d-grid mt-4 mb-5">
                        <button type="submit" class="btn btn-primary">S'inscrire</button>
                    </div>
                    {{ form_end(registrationForm) }}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
