{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Dashboard{% endblock %}

{% block main %}
    <div class="row">
            <div class="col-md-3 col-sm-6 p-3">
                <div class="card statistics-card-1 overflow-hidden ">
                <div class="card-body">
                    <h5 class="mb-4">Compte utilisateur</h5>
                    <div class="d-flex align-items-center mt-3">
                    <h3 class="f-w-300 d-flex align-items-center m-b-0">{{numTotalUsers}} comptes</h3>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 p-3">
                <div class="card statistics-card-1 overflow-hidden ">
                    <div class="card-body">
                        <h5 class="mb-4">Compte membres pacha </h5>
                        <div class="d-flex align-items-center mt-3">
                            <h3 class="f-w-300 d-flex align-items-center m-b-0">{{numuserpacha}} membres</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 p-3">
                <div class="card statistics-card-1 overflow-hidden ">
                    <div class="card-body">
                        <h5 class="mb-4">Comptes membre Fréquence </h5>
                        <div class="d-flex align-items-center mt-3">
                            <h3 class="f-w-300 d-flex align-items-center m-b-0">{{numuserfreq}} membres</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 p-3">
                <div class="card statistics-card-1 overflow-hidden ">
                    <div class="card-body">
                        <h5 class="mb-4">Compte non membre</h5>
                        <div class="d-flex align-items-center mt-3">
                            <h3 class="f-w-300 d-flex align-items-center m-b-0">{{numusernon}}</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xl-12 mt-5 mb-5">
                <div class="card table-card">
                        <div class="card-header d-flex align-items-center justify-content-between py-3">
                            <h5>Nouveaux comptes</h5>
                            <div class="dropdown">
                                <a class="avtar avtar-xs btn-link-secondary"href="{{ url }}">
                                   Voir plus
                                </a>
                            </div>
                        </div>
                        <div class="card-body py-2 px-0">
                            <div class="table-responsive">
                                <table class="table table-hover table-borderless table-sm mb-0">
                                    <tbody>
                                     <tr>
                                            <td>
                                                <div class="d-inline-block align-middle">
                                                    <div class="d-inline-block p-3">
                                                        <h6 class="m-b-0">Prénom</h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-inline-block align-middle">
                                                    <div class="d-inline-block p-3">
                                                        <h6 class="m-b-0">Nom</h6>
                                                    </div>
                                                </div>
                                            </td>

                                            <td>
                                                <div class="d-inline-block align-middle">
                                                    <div class="d-inline-block p-3">
                                                        <h6 class="m-b-0">Email</h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-inline-block align-middle">
                                                    <div class="d-inline-block p-3">
                                                        <h6 class="m-b-0">  Date de naissance</h6>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% for user in FourLastestUser %}
                                        <tr>
                                            <td>
                                                <div class="d-inline-block align-middle">
                                                    <div class="d-inline-block p-3">
                                                        <h6 class="m-b-0">{{ user.firstname }}</h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-inline-block align-middle">
                                                    <div class="d-inline-block p-3">
                                                        <h6 class="m-b-0">{{ user.lastname }}</h6>
                                                    </div>
                                                </div>
                                            </td>

                                            <td>
                                                <div class="d-inline-block align-middle">
                                                    <div class="d-inline-block p-3">
                                                        <h6 class="m-b-0">{{ user.email }}</h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-inline-block align-middle">
                                                    <div class="d-inline-block p-3">
                                                        <h6 class="m-b-0">  {{ user.birth ? user.birth|date('Y-m-d') : '' }}</h6>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </div>
            </div>
        </div>
{% endblock %}